<p-toast position="top-center"></p-toast>

<div style="display: flex; justify-content: space-between; padding: 35px 0 8px 8px;">
    <span class="title"> Sign In </span>
</div>


<div class="card">
    <label>Email</label>
    <input pInputText [(ngModel)]="email"/>

    <label>Password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"></p-password>

    <div style="padding-top: 16px;">
        <p-button label="Login" (click)="signIn()"></p-button>
    </div>

    <div style="padding-top: 16px;">
        <p-button label="LoginAAA" (click)="signInAAA()"></p-button>
    </div>

    <span>
        Don't have an account?
        <a routerLink="/sign-up">Sign Up</a>
    </span>
</div>
