<p-toast position="top-center"></p-toast>

<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px;">
    <span style="font-size: 18px; font-weight: 700;"> Sign In </span>
</div>


<div class="card">
    <label>Email</label>
    <input pInputText [(ngModel)]="email"/>

    <label>Password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"></p-password>

    <div style="padding-top: 16px;">
        <p-button label="Login" (click)="signIn()"></p-button>
    </div>

    <span>
        Don't have an account?
        <a routerLink="/sign-up">Sign Up</a>
    </span>
</div>
