@import '../../styles/variables.scss';

.main {
    width: 100vw;
    height: 100%;
    padding: 8px;

    background-color: $bg_color;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
