@import "variables";

.list {
    display: flex;
    flex-direction: column;

    .list-item {
        min-height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid $bg-body;

        // .p-chip {
        //     height: 25px;
        //     margin: 0 !important;
        //     background: red;
        //     color: $bg-body;
        // }
           
    }
}