.p-multiselect {
    width: 100%;
}

.in-list-item .p-button {
    width: 27px;
    height: 27px;
}

.p-dropdown {
    width: 100%;
}


.sets-repetitions {
    .p-inputtext {
        width: 100%;
    }
}