<h1>Add Exercise</h1>

<div class="grid">
    <div class="col-12">
        <span class="p-float-label">
            <input pInputText [(ngModel)]="exercise.name" />
            <label>Name</label>
        </span>
    </div>

    <div class="col-12 mt-3">
        <span class="p-float-label">
            <input pInputText [(ngModel)]="exercise.group" />
            <label>Group</label>
        </span>
    </div>

    <div class="col-12">
        <p-button label="Add" (click)="addExercise()" [disabled]="!exercise.isValid()"></p-button>
    </div>
</div>
