<main>
  <div class="menuitem">
    <i class='bx bx-dumbbell icon' routerLink="exercise"></i>
    <div class="text">Exercise</div>
  </div>

  <div class="menuitem">
    <i class='bx bx-spreadsheet icon' routerLink="training-program"></i>
    <div class="text">Program</div>
  </div>

  <!-- <div class="menuitem">
    <i class='bx bx-plus-medical iconmain'></i>
  </div> -->

  <div class="menuitem">
    <i class='bx bx-book icon'></i>
    <div class="text">Log</div>
  </div>

  <div class="menuitem">
    <i class='bx bx-body icon'></i>
    <div class="text">Pliche</div>
  </div>

  <div class="menuitem">
    <i class='bx bx-user icon' routerLink="user"></i>
    <div class="text">User</div>
  </div>

  <!-- <i class="pi pi-user" style="font-size: 16px;"></i> -->

</main>
  