@import '../../styles/variables.scss';

$item_width: 60px;
$item_height: 60px;


main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: $bg_color;
  border-radius: 6px 6px 0px 0px
}

.menuitem {
  height: $menu-height;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: $text_color;
}

.menuitem .select-bar {
  height: 2px;
  width: 80%;
  background-color: $bg_color;

  &.selected {
    background-color: $text_color;
  }
}

.menuitem .icon {
  font-size: 24px;
  text-align: center;
}

.menuitem .iconmain {
  height: calc($menu-height - 10px);
  width: calc($menu-height - 10px);

  line-height: calc($menu-height - 10px);
  font-size: 30px;
  text-align: center;

  background-color: $text_color;
  color: $bg_color;
  border-radius: 50%;

  &.selected {
    box-shadow: inset 0 0 0 2px $text_color, inset 0 0 0 4px $bg_color;
  }
}

.menuitem .text {
  // height: 20px;
  // width: 60px;
  // overflow: hidden;

  font-size: 14px;
  padding-bottom: 5px;
  // text-align: center;
}

