<p-toast position="top-center"></p-toast>

<div style="display: flex; align-items: center; justify-content: space-between; padding: 8px 0 8px 0;">
    <div (click)="gotoExerciseList()" style="align-self: flex-end;">
        <i class="pi pi-chevron-left" style="font-size: 14px; padding:0 8px 0 8px;"></i>
        <span class="back-font">Exercise List</span>
    </div>
</div>

<div *ngIf="!exercise.data" style="display: flex; align-items: center; justify-content: space-between; padding: 0 0 8px 8px;">
    <span class="title"> {{header}} </span>
</div>

<ng-container *ngIf="exercise.data">

    <div style="display: flex; align-items: center; justify-content: space-between; padding: 0 0 8px 8px;">
        <div>
            <span class="title"> {{header}} </span>
        </div>

        <div style="display: flex; align-items: center; gap: 8px;">
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="confirmDelete()"></p-button>
            <p-button icon="pi pi-save" (click)="saveExercise()"></p-button>
        </div>
    </div>

    <div class="card">
    
        <label>Name</label>
        <input pInputText [(ngModel)]="exercise.name"/>

        <label>Group</label>
        <p-dropdown [options]="groupDropdownOptions" [(ngModel)]="exercise.group"
            optionLabel="label" optionValue="id" appendTo="body"></p-dropdown>
        
    </div>
    

</ng-container>

<ng-container *ngIf="exercise.loading">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-spin pi-spinner"></i>
            Loading ...
        </div>
    </div>
</ng-container>

<ng-container *ngIf="exercise.noData">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-info-circle"></i>
            Exercise do not exists
        </div>
    </div>
</ng-container>

<p-confirmDialog [style]="{width: '90vw'}"></p-confirmDialog>