@import '../styles/variables.scss';

.main {
    display: flex;
    flex-direction: column;
}
  
.body {
  // height: calc(100vh - $menu-height);
  // height: 100vh;
  // overflow-y: scroll;
  // margin-top: $topbar-height;
  margin-bottom: $menu-height;
  padding: 8px;
  // padding-top:;
  // padding-top: 16px;
}

.menu {
  position: fixed;
  bottom: 0;
  height: $menu-height;
}

.topbar {
  position: fixed;
  top: 0;
  height: $topbar-height;
}