@import '../styles/variables.scss';

.main {
    display: flex;
    flex-direction: column;
}

.body {
  margin-bottom: $menu-height;
  padding: 8px;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $menu-height;
}

.topbar {
  position: fixed;
  top: 0;
  height: $topbar-height;
}


@media only screen and (min-width : 768px) {
  .main {
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .menu {
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}