<p-toast position="top-center"></p-toast>

<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px;">
    <span style="font-size: 18px; font-weight: 700;"> Sign Up </span>
</div>


<div class="card">
    <label>Email</label>
    <input pInputText [(ngModel)]="signUpData.email"/>

    <label>Password</label>
    <p-password [(ngModel)]="signUpData.password" [toggleMask]="true" [feedback]="false"></p-password>
    <small style="font-size: 12px; padding-bottom: 8px;">Minimum 6 characters</small>

    <label>Repeat Password</label>
    <p-password [(ngModel)]="signUpData.repeatedPassword" [toggleMask]="true" [feedback]="false"></p-password>

    <label>Name</label>
    <input pInputText [(ngModel)]="signUpData.displayName" />


    <div style="padding-top: 16px;">
        <p-button label="Register" (click)="signUp()" [disabled]="!signUpData.isValid()"></p-button>
    </div>

    <span>
        Already have and acconut?
        <a routerLink="/sign-in">Sign In</a>
    </span>
</div>
