<p-toast position="top-center"></p-toast>

<ng-container *ngIf="trainingProgram.data">

    <div style="height: 40px; display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px;">
        <div>
            <i class="pi pi-chevron-left" style="font-size: 16px; margin-right: 8px; padding: 8px" (click)="gotoTrainingProgramList()"></i>
            <span class="title"> {{header}} </span>
        </div>
    
        <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="confirmDelete()"></p-button>
            <p-button icon="pi pi-save" (click)="saveTrainingProgram()"></p-button>
        </div>
    </div>

    <div class="card">
    
        <label>Name</label>
        <input pInputText [(ngModel)]="trainingProgram.name"/>
        
        <label>Date</label>
        <p-calendar [(ngModel)]="trainingProgram.date" [touchUI]="true" [readonlyInput]="true" dateFormat="M dd, yy"></p-calendar>
    
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <span class="card-title"> Trainings </span>

            <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                <p-button icon="pi pi-sort-alt" [outlined]="!changeTrainingOrder" severity="secondary" (click)="toggleChangeTrainingOrder()" *ngIf="trainings.length !== 0"></p-button>
                <p-button icon="pi pi-plus" (click)="openTrainingAddDialog()"></p-button>
            </div>
        </div>
    
        <div class="list">
            <div class="list-item" *ngFor="let training of this.trainings" (click)="gotoTrainingDetail(training)">
                <div>
                    {{training.order}} - {{training.name}}
                </div>

                <div *ngIf="changeTrainingOrder" style="display: flex; align-items: center; justify-content: center;">
                    <p-button icon="pi pi-arrow-down" severity="secondary" [text]="true" [disabled]="isLastTraining(training)" class="in-list-item" (click)="orderDown(training)"></p-button>
                    <p-button icon="pi pi-arrow-up" severity="secondary" [text]="true" [disabled]="isFirstTraining(training)" class="in-list-item"  (click)="orderUp(training)"></p-button>
                </div>
            </div>
        </div>
    </div>
    

</ng-container>

<ng-container *ngIf="trainingProgram.loading">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-spin pi-spinner"></i>
            Loading ...
        </div>
    </div>
</ng-container>

<ng-container *ngIf="trainingProgram.noData">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-info-circle"></i>
            Training Program do not exists
        </div>
    </div>
</ng-container>

<p-dialog [(visible)]="trainingAddDialog.visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{trainingAddDialog.header}}</span>
    </ng-template>
    <ng-template pTemplate="content">

        <div class="card" style="height: 100%;">
            <label>Name</label>
            <input pInputText [(ngModel)]="trainingAddDialog.training.name"/>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Save" (click)="saveTraining()" [disabled]="!trainingAddDialog.training.isValid() || alreadyChoosedTraining()"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '90vw'}"></p-confirmDialog>