<div style="display: flex; align-items: center; justify-content: space-between;">
    <h1> Exercise List </h1> 
    <button type="button" pButton pRipple icon="pi pi-plus" routerLink="add"></button>
</div>

<p-table *ngIf="!loading" [value]="exercises" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Group</th>
            <th>Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exercise>
        <tr>
            <td>{{ exercise.group }}</td>
            <td>{{ exercise.name }}</td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="loading" >
    Loading...
</div>
