<p-toast position="top-center"></p-toast>

<div style="display: flex; align-items: center; justify-content: space-between; padding: 8px 0 8px 0;">
    <div (click)="gotoTrainingProgramDetail()" style="align-self: flex-end;">
        <i class="pi pi-chevron-left" style="font-size: 14px; padding:0 8px 0 8px;"></i>
        <span class="back-font">Training Program Detail</span>
    </div>
</div>

<div *ngIf="!training.data" style="display: flex; align-items: center; justify-content: space-between; padding: 0 0 8px 8px;">
    <span class="title"> {{header}} </span>
</div>

<ng-container *ngIf="training.data">

    <div style="display: flex; justify-content: space-between; padding: 0 0 8px 8px;">
        <div>
            <span class="title"> {{header}} </span>
        </div>

        <div style="display: flex; gap: 8px;">
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="confirmDelete()"></p-button>
            <p-button icon="pi pi-save" (click)="saveTraining()"></p-button>
        </div>
    </div>

    <div class="card">
    
        <label>Training Name</label>
        <input pInputText [(ngModel)]="training.name"/>

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <span class="card-title"> Training Exercises </span>

            <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                <p-button icon="pi pi-sort-alt" [outlined]="!changeTrainingExerciseOrder" severity="secondary" (click)="toggleChangeTrainingExerciseOrder()" *ngIf="trainingExercises.length !== 0"></p-button>
                <p-button icon="pi pi-plus" (click)="openTrainingExerciseAddDialog()"></p-button>
            </div>
        </div>
    
        <div class="list">
            <div class="list-item" *ngFor="let trainingExercise of this.trainingExercises">

                <div style="display: flex; align-items: center; gap: 16px; padding: 8px; flex: 1" (click)="editTrainingExerciseAddDialog(trainingExercise)">
                    <!-- <div>
                        {{trainingExercise.order}}
                    </div> -->
                    <!-- <div>
                        <p-chip [label]="exerciseGroup(trainingExercise)" [style]="exerciseGroupChipStyle()"></p-chip>
                    </div> -->
                    <!-- <p-chip [label]="exerciseGroup(trainingExercise)" [style]="exerciseGroupChipStyle()"></p-chip> -->

                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; justify-content: space-between; gap: 8px;">
                            <!-- <p-chip [label]="exerciseGroup(trainingExercise)" [style]="exerciseGroupChipStyle()"></p-chip> -->
                            <span style="font-weight: bold;">
                                {{exerciseName(trainingExercise)}}
                            </span>
                            <!-- <span>
                                <p-chip [label]="getExercise(trainingExercise).group" [style]="{'background-color':'#ae3c60'}"></p-chip>
                            </span> -->
                        </div>
                        <div>
                            Reps: <span>{{repsString(trainingExercise.reps)}}</span>
                        </div>
                        <div>
                            Rec: <span>{{trainingExercise.recover}}s</span>
                        </div>
                        <div *ngIf="trainingExercise.hasNote()">
                            Note: <span>{{trainingExercise.note}}</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="changeTrainingExerciseOrder" style="display: flex; align-items: center; justify-content: center;">
                    <p-button icon="pi pi-arrow-down" severity="secondary" [text]="true" [disabled]="isLastTrainingExercise(trainingExercise)" class="in-list-item" (click)="orderDown(trainingExercise)"></p-button>
                    <p-button icon="pi pi-arrow-up" severity="secondary" [text]="true" [disabled]="isFirstTrainingExercise(trainingExercise)" class="in-list-item"  (click)="orderUp(trainingExercise)"></p-button>
                </div>
           
            </div>
        </div>
    </div>
    

</ng-container>


<ng-container *ngIf="training.loading">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-spin pi-spinner"></i>
            Loading ...
        </div>
    </div>
</ng-container>

<ng-container *ngIf="training.noData">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-info-circle"></i>
            Training do not exists
        </div>
    </div>
</ng-container>

<p-dialog [(visible)]="trainingExerciseAddDialog.visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{trainingExerciseAddDialog.header}}</span>
    </ng-template>
    <ng-template pTemplate="content">

        <div class="card" style="height: 100%;">
            <label>Exercise</label>
            <p-dropdown [options]="exerciseDropdownOptions" [(ngModel)]="trainingExerciseAddDialog.trainingExercise.exerciseId"
                [group]="true" optionLabel="label" optionValue="id" appendTo="body"></p-dropdown>

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <span class="card-title"> Reps </span>
    
                <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                    <p-button [text]="true" icon="pi pi-trash" (click)="removeRep()" [disabled]="!trainingExerciseAddDialog.rep.isValid()" *ngIf="isEditing()"></p-button>
                    <p-button [text]="true" icon="pi pi-save" (click)="saveRep()" [disabled]="!trainingExerciseAddDialog.rep.isValid()" *ngIf="isEditing()"></p-button>
                    <p-button [text]="true" icon="pi pi-plus" (click)="addRep()" [disabled]="!trainingExerciseAddDialog.rep.isValid()" *ngIf="!isEditing()"></p-button>
                </div>
            </div>

            <div style="display: flex; gap: 16px; align-items: center; justify-content: center;">
                <div class="p-inputgroup">
                    <p-inputNumber [(ngModel)]="trainingExerciseAddDialog.rep.value" *ngIf="!trainingExerciseAddDialog.rep.max"></p-inputNumber> 
                    <input pInputText [disabled]="true" value="Max" *ngIf="trainingExerciseAddDialog.rep.max"/>
                    <span class="p-inputgroup-addon">
                        <p-checkbox label="Max" [binary]="true" [(ngModel)]="trainingExerciseAddDialog.rep.max" (onClick)="trainingExerciseAddDialog.rep.toggleMax()">
                        </p-checkbox>
                    </span>
                </div>
            </div>

            <div style="display: flex; gap: 8px; flex-wrap: wrap;">
                <div *ngFor="let rep of trainingExerciseAddDialog.trainingExercise.reps">
                    <p-chip [label]="rep.toString()" (click)="toggleEditRep(rep)" [ngClass]="{editing: isEditingRep(rep)}"></p-chip>
                </div>
            </div>

            <label>Recover (seconds)</label>
            <p-inputNumber [(ngModel)]="trainingExerciseAddDialog.trainingExercise.recover"></p-inputNumber> 

            <label>Note</label>
            <textarea rows="2" cols="30" pInputTextarea [autoResize]="true"  [(ngModel)]="trainingExerciseAddDialog.trainingExercise.note"></textarea>
            
        </div>        

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Delete" (click)="deleteTrainingExercise()"></p-button>
        <p-button label="Save" (click)="saveTrainingExercise()" [disabled]="!trainingExerciseAddDialog.trainingExercise.isValid()"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '90vw'}"></p-confirmDialog>