<div style="display: flex; justify-content: space-between; padding: 35px 0 8px 8px;">
  <span class="title"> User Profile </span>
</div>

<ng-container *ngIf="authService.UserData as user">

  <div class="card">
    <span class="card-title"> 
      Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}} </strong>
    </span>

    <div>
      User ID: <strong>{{user.uid}}</strong>
    </div>

    <div>
      Email: <strong>{{user.email}}</strong>
    </div>

    <div>
      Email Verified: <strong>{{user.emailVerified}}</strong>
    </div>
  
    <div>
      <p-button (click)="authService.signOut()" >Logout</p-button>
    </div>
  </div>

</ng-container>
