<p-toast position="top-center"></p-toast>

<div style="display: flex; justify-content: space-between; padding: 35px 0 8px 8px;">
    <span class="title"> Workout Log </span>
</div>

<div style="display: flex; justify-content: space-between; padding-bottom: 8px;">
    <p-chip (click)="minusDay()">
        <i class="pi pi-chevron-left" style="font-size: 14px; height: 20px; line-height: 20px;"></i>
    </p-chip>

    <div (click)="openDateDialog()">
        {{day | date:'longDate'}}
    </div>

    <p-chip (click)="plusDay()">
        <i class="pi pi-chevron-right" style="font-size: 14px; height: 20px; line-height: 20px;"></i>
    </p-chip>
</div>

<ng-container *ngIf="!workout">
    <div class="card">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <span class="card-title"> Add Workout </span>

            <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </div>
    </div>

</ng-container>


<p-dialog [(visible)]="dateDialog.visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{dateDialog.header}}</span>
    </ng-template>
    <ng-template pTemplate="content">

        <div class="card">
            <!-- <label>Date</label> -->
            <p-calendar [(ngModel)]="day" [inline]="true" dateFormat="M dd, yy">
                <ng-template pTemplate="footer">
                    <p-button label="Today" (click)="setTodayAndClose()"></p-button>
                </ng-template>
            </p-calendar>

            <!-- <p-button label="Today" (click)="setTodayAndClose()"></p-button> -->
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Ok" (click)="closeDateDialog()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="dateDialog.visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{dateDialog.header}}</span>
    </ng-template>
    <ng-template pTemplate="content">

        <div class="card">
            <!-- <label>Date</label> -->
            <p-calendar [(ngModel)]="day" [inline]="true" dateFormat="M dd, yy">
                <ng-template pTemplate="footer">
                    <p-button label="Today" (click)="setTodayAndClose()"></p-button>
                </ng-template>
            </p-calendar>

            <!-- <p-button label="Today" (click)="setTodayAndClose()"></p-button> -->
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Ok" (click)="closeDateDialog()"></p-button>
    </ng-template>
</p-dialog>