<p-toast position="top-center"></p-toast>

<div style="display: flex; justify-content: space-between; padding: 35px 0 8px 8px;">
    <span class="title"> Workout Log </span>
</div>

<div style="display: flex; justify-content: space-between; padding-bottom: 8px;">
    <div (click)="minusDay()">
        <i class="pi pi-chevron-left" style="font-size: 14px; padding:0 8px 0 8px;"></i>
    </div>

    <div>
        {{day | date:'longDate'}}
    </div>

    <div (click)="plusDay()">
        <i class="pi pi-chevron-right" style="font-size: 14px; padding:0 8px 0 8px;"></i>
    </div>
</div>

<ng-container *ngIf="!workout">
    <div class="card">
        <!-- <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" class="bg-white"></p-button> -->
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <span class="card-title"> Add Workout </span>

            <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </div>
    </div>

</ng-container>

