<p-toast position="top-center"></p-toast>

<ng-container *ngIf="data.isData">

    <div style="display: flex; justify-content: space-between; padding: 35px 0 8px 8px;">
        <span class="title"> Training Programs </span>
        <p-button icon="pi pi-plus" (click)="openTrainingProgramDialog()"></p-button>
    </div>

    <div style="display: flex; flex-direction: column; gap: 16px;">
        <div *ngFor="let trainingProgram of trainingPrograms" class="card">
            <div style="display: flex; align-items: center; justify-content: space-between;" (click)="gotoTrainingProgramDetail(trainingProgram)">
                <div class="card-title">
                    {{trainingProgram.name}}
                </div>
                <div>
                    {{trainingProgram.date | date:'mediumDate'}}
                </div>
            </div>

            <div class="list">
                <div class="list-item" *ngFor="let training of trainingProgram.trainings" (click)="gotoTrainingDetail(training)">
                    <div>
                        {{training.order}} - {{training.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="data.noData">
    <div class="card">
        <div class="card-title">
            <i class="pi pi-info-circle"></i>
            No Training Programs
        </div>
    </div>
</ng-container>

<p-dialog [(visible)]="trainingProgramAddDialog.visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{trainingProgramAddDialog.header}}</span>
    </ng-template>
    <ng-template pTemplate="content">

        <div class="card" style="height: 100%;">
            <label>Training Program Name</label>
            <input pInputText [(ngModel)]="trainingProgramAddDialog.trainingProgram.name"/>
            
            <label>Date</label>
            <p-calendar [(ngModel)]="trainingProgramAddDialog.trainingProgram.date" [touchUI]="true" [readonlyInput]="true" dateFormat="M dd, yy"></p-calendar>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Save" (click)="saveTrainingProgram()" [disabled]="!trainingProgramAddDialog.trainingProgram.isValid()"></p-button>
    </ng-template>
</p-dialog>
